body {
    background-color: #ffe8cf;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
}



button {

    position: relative;
    left: -50px;

    width: 200%;

    height: 150px;

    font-family: Marker Felt, fantasy;

    font-size: 55px;

    border: 8px solid black;

    cursor: pointer;

    border-radius: 30px;

    background-color: #f57369;

    color: black;
}