body {
    background-color: beige;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
}



button {
    width: 30%;

    height: 150px;

    font-family: Marker Felt, fantasy;

    font-size: 55px;

    padding: 10px 50px;

    margin: 10px;

    border: 8px solid black;

    cursor: pointer;

    border-radius: 30px;

    background-color: greenyellow;

    color: black;
}